---
Checks: >
  -*,
  bugprone-assert-side-effect,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-misplaced-widening-cast,
  bugprone-narrowing-conversions,
  bugprone-not-null-terminated-result,
  bugprone-sizeof-expression,
  bugprone-suspicious-memory-comparison,
  bugprone-use-after-move,
  cert-err34-c,
  clang-analyzer-*,
  performance-*
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|minitun|src|apps)/'
FormatStyle: file
...
